h1{
    text-align: center;
    font-style: bold;
}
#blue{
    color:#4285f4
}
#green{
    color:#0f9d58
}
#red{
    color:#db4437
}
#yellow{
    color:#F4b400
}
body{
    background-color: lightgray;
}
ul{
    font-size: 24px;
}
p{
    font-size: 20px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.growth{
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(to right, lightgray, #4286f49a) ;
}
.gmail{
    background-image: linear-gradient(to left, lightgray, #db44379a);
    font-family:sans-serif
}
.maps{
    background-image: linear-gradient(to right, lightgray, #F4b4009a);
    font-family: 'Courier New', Courier, monospace;
}
.chrome{
    background-image: linear-gradient(to left, lightgray, #4286f49a) ;
    font-family:sans-serif
}
.home{
    background-image: linear-gradient(to right, lightgray, #0f9d589a);
    font-family: 'Courier New', Courier, monospace;
}
.table{
    text-align:center;
    border-style: dashed;
    border-color: #db4437;
}